* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#wrapper {
  max-width: 655px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #101025;
  margin-bottom: 2rem;
}

.form-wrapper {
  border: 1px solid #ececec;
  border-radius: 10px;
  padding: 3.75rem 2.5rem;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.85rem;
}

.section__top {
  display: flex;
  justify-content: space-between;
  gap: 2.1875rem;
}

.section__bottom {
  display: flex;
  gap: 2.1875rem;
}

.section__top select {
  max-width: 280px;
  width: 100%;
  height: 60px;
  padding: 0.625rem;
  font-size: 2rem;
}

.section__bottom input {
  max-width: 280px;
  width: 100%;
  height: 60px;
  padding: 0.625rem;
  font-size: 2rem;
}
.btn__wrapper {
  text-align: right;
}

#btn {
  cursor: pointer;
  width: 8.125rem;
  height: 2.1875rem;
  background-color: #44c480;
  outline: none;
  border-radius: 8px;
  border: none;
  color: #dedff0;
  font-size: .8rem;
  font-weight: 500;
  transition: all .7s ease-in;
}

#btn:hover {
  background-color: #47a7de;
}

